<section class="section courses" id="courses">
    <div class="wrap">
        <h2 class="section-title"><span class="text_main">Наши курсы</span></h2>

        <nav class="courses-nav" id="coursesNav">
            <div class="courses-nav__item" data-courseId="children">Для младших школьников</div>
            <div class="courses-nav__item current" data-courseId="middle">Для средней школы</div>
            <div class="courses-nav__item" data-courseId="high">Для старшекласников</div>
            <div class="courses-nav__item " data-courseId="adult">Для взрослых</div>
            <div class="courses-nav__item" data-courseId="retiree" id="coursesLastNavItem">
                Людям пенсионного возраста
            </div>
        </nav>



        <div class="courses-block " id="children">
            <h3 class="courses-block__title">Программа для младших школьников</h3>
            <div class="price">
                <span class="count">1600 <span class="currency">руб</span></span>

                <span class="note">в месяц*</span>
            </div>
            <div class="courses-descr">
                <div class="img">
                    <div class="img-border"></div>
                    <div class="img-background"></div>
                    <img src="~/Content/img/courses/course-1.jpg" alt="">
                </div>

                <div class="courses-descr__text">
                    <p>
                        За занятие мы успеваем выучить новую лексику, применить новую грамматику и повеселиться. Ведь у нас в
                        арсенале много методик и большое разнообразие игр: настольные, интерактивные и активные, позволяющие
                        детям прыгать и танцевать. Все они помогают лучше усвоить пройденный материал.
                    </p>
                    <!-- <p class="hidden for-hidden"> -->
                    <!-- </p> -->

                    <p class=" for-hidden">
                        А ещё мы тщательно следим за безопасностью. В кабинетах установлена ультрафиолетовая лампа, а сотрудники
                        центра регулярно проветривают и дезинфицируют помещения.
                        Преподаватели уделяют максимум внимания каждому ученику. А в конце урока всех ждёт сладкий приз за
                        старания.
                    </p>
                    <span class="courses-more">Читать полностью <img src="~/Content/img/icons/arrow-icon_blue.svg" alt=""></span>
                    <div class="button toModal" data-value="для младших школьников">Записаться на бесплатный урок</div>

                </div>
            </div>

        </div>

        <div class="courses-block current " id="middle">
            <h3 class="courses-block__title">Программа для средних школьников</h3>
            <div class="price">
                <span class="count">1800 <span class="currency">руб</span></span>

                <span class="note">в месяц*</span>
            </div>
            <div class="courses-descr">
                <div class="img course-2">
                    <div class="img-border"></div>
                    <div class="img-background"></div>
                    <img src="~/Content/img/courses/course-2.jpg" alt="">
                </div>

                <div class="courses-descr__text">

                    <p>
                        Опытные преподаватели знают, как завладеть вниманием учеников, заинтересовать их и мотивировать.
                        Ученикам важно видеть свои успехи и результаты, применять знания на практике. Поэтому на занятиях мы часто
                        слушаем музыку, смотрим фильмы и играем, превращая интерактив в реальные ситуации.
                    </p>
                    <p class="for-hidden">
                        В процессе обучения наши ученики совершенствуют язык комплексно, обретая уверенность во всех навыках
                        владения языком: чтение, аудирование, письмо и говорение, что помогает им повысить успеваемость в школе
                        и сформировать надежную базу для успешной сдачи международных экзаменов.
                    </p>
                    <span class="courses-more">Читать полностью <img src="~/Content/img/icons/arrow-icon_blue.svg" alt=""></span>
                    <div class="button toModal" data-value="для средних школьников">Записаться на бесплатный урок</div>

                </div>
            </div>

        </div>

        <div class="courses-block " id="high">
            <h3 class="courses-block__title">Программа для старших школьников</h3>
            <div class="price">
                <span class="count">2200 <span class="currency">руб</span></span>

                <span class="note">в месяц*</span>
            </div>
            <div class="courses-descr">
                <div class="img">
                    <div class="img-border"></div>
                    <div class="img-background"></div>
                    <img src="~/Content/img/courses/course-3.jpg" alt="">
                </div>

                <div class="courses-descr__text">
                    <p>
                        Один из самых ответственных этапов. Этап выбора профессии. Поэтому здесь важно добиться значимых учебных
                        и личностных результатов.
                    </p>
                    <p class="for-hidden">
                        Большое внимание уделяется развитию социокультурной компетенции учащихся, а именно умению общаться с
                        представителями других культур, работать в команде, критически мыслить. Использование в обучении
                        современных материалов из различных сфер жизни обеспечивает серьезные результаты на метапредметном
                        уровне.
                    </p>
                    <p class="for-hidden">
                        Сложно ли на этом этапе? Да! Это большая ответственность и мы подходим к ней со всей серьезностью. И для
                        достижения максимальных результатов много повторяем, слушаем и говорим.
                    </p>


                    <span class="courses-more">Читать полностью <img src="~/Content/img/icons/arrow-icon_blue.svg" alt=""></span>
                    <div class="button toModal" data-value="для старших школьников">Записаться на бесплатный урок</div>

                </div>
            </div>

        </div>

        <div class="courses-block " id="adult">
            <h3 class="courses-block__title">Программа для обучения взрослых</h3>
            <div class="price">
                <span class="count">2000 <span class="currency">руб</span></span>

                <span class="note">в месяц*</span>
            </div>
            <div class="courses-descr">
                <div class="img  course-4">
                    <div class="img-border"></div>
                    <div class="img-background"></div>
                    <img src="~/Content/img/courses/course-4.jpg" alt="">
                </div>

                <div class="courses-descr__text">
                    <p>
                        Занятия по английскому языку проходят по соврменному учебнику, который расчитан
                        специально на взрослых. В нём только актуальные темы для личного и делового общения. А принцип
                        многоступенчатости позволяет легко и быстро выучить язык каждому.
                    </p>
                    <p class=" for-hidden">
                        Мы понимаем загруженность наших взрослых студентов. Но предупреждаем: Хотите получить результат —
                        занимайтесь усердно. Ведь только тогда будет виден прогресс.
                    </p>
                    <p class=" for-hidden">
                        Обучение всегда проходит весело и непринуждённо. У нас нет школьной обстановки. Мы разговариваем,
                        обсуждаем, вспоминаем и узнаём новое.
                    </p>
                    <span class="courses-more">Читать полностью <img src="~/Content/img/icons/arrow-icon_blue.svg" alt=""></span>
                    <div class="button toModal" data-value="для обучения взрослых">Записаться на бесплатный урок</div>

                </div>
            </div>

        </div>

        <div class="courses-block " id="retiree">
            <h3 class="courses-block__title">Курс для людей пенсионного возраста</h3>
            <div class="price">
                <span class="count">500<span class="currency"> руб</span></span>

                <span class="note withoutStar">в месяц</span>
            </div>
            <div class="courses-descr">
                <div class="img  course-5">
                    <div class="img-border"></div>
                    <div class="img-background"></div>
                    <img src="~/Content/img/courses/course-5.jpg" alt="">
                </div>

                <div class="courses-descr__text">
                    <p>
                        Цель этого курса – сохранение социальной и интеллектуальной
                        активности посредством организации учебных занятий по английскому языку.
                    </p>
                    <p class=" for-hidden">
                        Преподаватель учтет возраст, ритм и скорость усвоения информации, наполнит занятия лексическим и
                        грамматическим материалом, необходимым для успешного общения с иностранным гражданином.
                    </p>
                    <p class=" for-hidden">
                        Наши занятия решают сразу несколько задач:
                    </p>
                    <ul class=" for-hidden">
                        <li>
                            Помогают людям пенсионного возраста адаптироваться в современном обществе и&nbsp;понимать молодое
                            поколение
                        </li>
                        <li>
                            Открывают возможности для саморазвития
                        </li>
                        <li>
                            Создают благоприятные условия для знакомств и общения
                        </li>
                    </ul>
                    <span class="courses-more">Читать полностью <img src="~/Content/img/icons/arrow-icon_blue.svg" alt=""></span>
                    <div class="button toModal" data-value="для людей пенсионного возраста">Записаться на бесплатный урок</div>

                </div>
            </div>

        </div>


    </div>
</section>
