
    <section class="section founder" id="founder">
        <div class="wrap">
            <h2 class="section-title">
                Мы не только даём знания <br> <span class="text_main">Мы зажигаем и мотивируем</span>
            </h2>

            <div class="founder-quote">
                <div class="img">
                    <img src="~/Content/img/founder/founder-img.jpg" alt="">
                    <div class="img-background"></div>
                </div>


                <div class="descr">
                    <p>Hello everyone!</p>
                    <p>
                        Я искренне верю, что нет ничего прекрасней знаний. Они открывают мир, дарят возможности, дают
                        ощущение полёта!
                    </p>
                    <p>
                        Если Вы готовы открывать для себя целый новый мир, увидимся на уроке!
                    </p>

                    <div class="signature">
                        <span class="name">Алина Александровна</span>
                        <span class="primary">Основатель и вдохновитель <br> Mr. Simon Academy</span>
                    </div>
                </div>


            </div>

            <div class="founder-info">

                <div class="founder-block">
                    <div class="founder-info__item">
                        <span class="name">Опыт преподавания:</span>
                        <div class="descr">
                            <p>
                                с 2014 по 2018 гг. преподавала общий английский в рамках социального проекта Красноярского краевого
                                народного университета «Активное долголетие»
                            </p>
                            <p>
                                с 2018 года является действующим преподавателем СибГУ им. М.
                                Ф. Решетнева
                            </p>
                        </div>

                    </div>


                    <div class="founder-info__item">
                        <span class="name">Образование:</span>
                        <div class="descr">
                            <p> КГПУ им. В. П. Астафьева </p>

                        </div>
                    </div>

                    <div class="founder-info__item">
                        <span class="name">Уровень языка:</span>
                        <div class="descr">
                            <p> Proficiency </p>

                        </div>
                    </div>

                </div>

                <div class="founder-block">
                    <div class="founder-info__item" style="margin-bottom: 20px;">
                        <span class="name">Развитие:</span>
                        <div class="descr">
                            <p>
                                повышает профессиональную компетенцию у ведущих преподавателей мира: Jeremy Harmer, Jim Scrivener,
                                Penny
                                Ur, Hugh Dellar, что позволяет адаптировать материал, использовать новые подходы и привносить новый
                                поток
                                знаний
                            </p>
                        </div>

                    </div>

                    <div class="founder-info__item">
                        <span class="name">Интересы:</span>
                        <div class="descr">
                            <p> психология, путешествия, искусство </p>

                        </div>
                    </div>
                    <div class="founder-info__item">
                        <span class="name">Сертификаты:</span>
                        <div class="descr">
                            <p>TKT Module 1, TKT Module 2, TKT Module 3 </p>

                        </div>
                    </div>
                </div>

            </div>

            <div class="certificate">
                <div class="descr">
                    <h3 class="section-subtitle">Мы и сами всё время учимся</h3>
                    <p>Все преподаватели имеют международные сертификаты, доказывающие уровень и навыки владения языком.</p>
                </div>
                <div class="certificate-slider">

                </div>
                <div class="certificate-container swiper-container">

                    <div class="certificate-wrapper swiper-wrapper">
                        <div class="certificate-slide swiper-slide">
                        </div>

                        <div class="certificate-slide swiper-slide">
                            <img src="~/Content/img/cerificates/TKT-Module-1.jpg" alt="">
                        </div>
                        <div class="certificate-slide swiper-slide">
                            <img src="~/Content/img/cerificates/TKT-Module-2.jpg" alt="">
                        </div>
                        <div class="certificate-slide swiper-slide">
                            <img src="~/Content/img/cerificates/TKT-Module-3.jpg" alt="">
                        </div>
                        <div class="certificate-slide swiper-slide">
                            <img src="~/Content/img/cerificates/certificate-1.jpg" alt="">
                        </div>
                        <div class="certificate-slide swiper-slide">
                            <img src="~/Content/img/cerificates/certificate-2.jpg" alt="">
                        </div>
                        <div class="certificate-slide swiper-slide">
                            <img src="~/Content/img/cerificates/certificate-3.jpg" alt="">
                        </div>

                        <div class="certificate-slide swiper-slide">
                        </div>
                    </div>

                    <div class="certificate-background">
                        <img src="~/Content/img/cerificates/certificate-background.svg" alt="">
                    </div>


                    <div class="slider-nav certificate-nav">
                        <div class="prev clickable" id="certificatePrev"><i></i> </div>
                        <div class="count" id="certificateProgress">1<span>/6</span></div>
                        <div class="next clickable" id="certificateNext"><i></i></div>
                    </div>

                </div>
            </div>
        </div>
    </section>