<section class="section steps">
    <div class="wrap">
        <h2 class="section-title"><span class="text_main">Как к нам присоединиться</span></h2>

        <div class="steps-wrap flex">

            <div class="steps-item">
                <img src="~/Content/img/step/step-1-icon.svg" alt="">
                <span class="num">1</span>
                <p> <span class="primary">Оставьте свои данные</span><span class="br"></span> через форму на сайте</p>
            </div>

            <div class="steps-item">
                <img src="~/Content/img/step/step-2-icon.svg" alt="">
                <span class="num">2</span>
                <p> <span class="primary">Саймон свяжется с Вами</span><span class="br"></span> в течение рабочего дня</p>
            </div>

            <div class="steps-item">
                <img src="~/Content/img/step/step-3-icon.svg" alt="">
                <span class="num">3</span>
                <p>
                    Познакомимся, определим <span class="br"></span> уровень, <span class="primary">заключим договор</span>
                </p>
            </div>

            <div class="steps-item">
                <img src="~/Content/img/step/step-4-icon.svg" alt="">
                <span class="num">4</span>
                <p>Подберем удобное время <span class="br"></span> и <span class="primary">приступим к занятиям</span></p>
            </div>
        </div>
        <div class="button toModal">Записаться на бесплатный урок</div>

    </div>
</section>
