
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}
<section class="admin">
    <h1 class="content-title">Темы и домашние задания</h1>


    <div class="admin-content">

        @Html.Action("AllThemes", "Teacher")


        @Html.Action("AddTheme", "Teacher")

    </div>






</section>
